.app {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 150px;
  padding: var(--dimen-small) var(--dimen-medium);
  display: flex;
  align-items: center;
}

.logo img {
  width: 100%;
}

.onGitHub {
  align-self: flex-start;
  margin: var(--dimen-medium);
  padding: var(--dimen-small) var(--dimen-medium);
  border-radius: var(--dimen-small);
  box-shadow: var(--shadow-light);
  background-color: var(--color-secondary);
  color: var(--color-text);
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}

.gitHubLogo {
  margin-right: var(--dimen-small);
  fill: var(--color-icon);
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: var(--color-text-secondary);
  padding: var(--dimen-medium);
  text-decoration: none;
}

.footer a,
.footer a:visited {
  color: var(--color-text-secondary);
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
