.home {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  align-self: center;
}

.mainCard {
  width: 100%;
  max-width: calc(100% - 50px);
  margin: 0 25px;
  transition: box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  align-self: center;
  background-color: var(--color-primary);
}

.mainCard:hover {
  box-shadow: var(--shadow-dark);
}

.logo {
  align-self: flex-end;
  font-size: 2em;
  color: var(--color-text);
  margin-bottom: var(--dimen-medium);
}

.mainCardTextArea {
  resize: horizontal;
  min-height: 200px;
  border: 0;
  border-radius: var(--radius-medium);
  outline: none;
  padding: var(--dimen-medium);
  font-size: 1.1em;
}
