:root {
  /* color variables from https://flatuicolors.com/palette/cn */
  --color-golden-sand: #eccc68;
  --color-orange: #ffa502;
  --color-lime-soap: #7bed9f;
  --color-ufo-green: #2ed573;
  --color-coral: #ff7f50;
  --color-bruschetta-tomato: #ff6348;
  --color-french-sky-blue: #70a1ff;
  --color-clear-chill: #1e90ff;
  --color-wild-watermelon: #ff6b81;
  --color-watermelon: #ff4757;
  --color-saturated-sky: #5352ed;
  --color-bright-greek: #3742fa;
  --color-peace: #a4b0be;
  --color-bay-wharf: #747d8c;
  --color-white: #ffffff;
  --color-anti-flash-white: #f1f2f6;
  --color-grisaille: #57606f;
  --color-prestige-blue: #57606f;
  --color-city-lights: #dfe4ea;
  --color-twinkle-blue: #ced6e0;
  --color-gray: #333333;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif, PingFangSC-Light, 'Microsoft YaHei UI', 'Microsoft YaHei';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-gray);
  background-color: var(--color-city-lights);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
